.container {
  display: grid;
  grid-template-columns: auto ;
  background-color: #FFF;
  padding: 0; margin: 0;
}
.g_item {
  background-color: #ABC;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}



body {
 margin: auto; padding: 0;
}

a:hover {
 color: #A00;
}

.title {
 font-size: 50;
 color: #369;
 font-weight: bold;
 text-align: center;
}


.nav_menu {
 margin: 2px;
 border: 20px;
}
.logo {
 display: flex;
 justify-content: flex-start;
}
.nav {
 display: flex;
 justify-content: flex-end;
}
.nav_link {
 margin: 5px;
 width: 100px;
 height: 20px;
 font-weight: bold;
 border-radius: 10px;
 padding: 10px;
 text-align: center;
 background-color: #DEF;
}
.nav_link:hover {
 background-color: #FFF;
}

.hi {
 width: auto;
 height: auto;
 margin: 1px;
}

.CTA {
 color: #00F;
 font-size: 30;
 display: float;
 margin-top: -100px;
 min-width: 200px;
 min-height: 100px;
 text-align: center;
}

.l_container {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: #060;
  margin: 10px auto;
border: 0px solid #ABC;
 border-radius: 10px;
 padding: 10px;
}
.map {
 display: flex;
 min-width: 200px;
 min-height: 200px;
}
.hours {
 display: normal;
  margin: 10px;
font-weight: bold;
color: white;
border: 0px solid #ABC;
}

._directions {
 display: flex;
 min-width: 200px;
 min-height: 200px;
}

.signup, .sponsors, .testimony {
  display: block;
  margin: 10px auto;
 width: 80%;
font-weight: bold;
border: 0px solid #ABC;
}

.f_container {
  display: grid;
 width: 50%;
 justify-self: center;
  grid-template-columns: auto auto ;
  background-color: #EEE;
  margin: 10px ;
border: 0px solid #ABC;
}
.b { 
 justify-self: start;
}
.social_media {
 justify-self: end;
 align-content: end;
}



